
    <div class='navbar navbar-inverse navbar-fixed-top mzerrobot'>
        <div>
            <a href='/' class='navbar-brand brand-name'>
                <img width='50' height='50' style='margin-top:-15px' src='/img/logo.png'>
            </a>
            <div class='navbar-brand'>Zippy - Faster to market</div>
            <a href='/logout' type='button' class='btn btn-danger navbar-btn navbar-right mright'>Logout</a>
        </div>
    </div>
    <div ng-transclude></div>
    <div ng-view class='view'></div>