<!DOCTYPE>
<html>
    <head>
        <title>Zippy</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body class='ftwenty'>
        <div class='navbar navbar-inverse navbar-static-top'>
            <div>
                <a href='/' class='navbar-brand brand-name' >
                    <img width='50' height='50' style='margin-top:-15px' src='/img/logo.png'>
                </a>
                <div class='navbar-brand brand-name'>Zippy - Faster to market</div>
            </div>
        </div>
        <div>
            <div class='row text-center mbottom well'>
                <div class='col-md-12'>
                    <h3>Project management tool strictly for AGILE</h3>
                    <p>Powerful, yet a simple project management tool stictly for teams who work based on Agile methodology. This tool is fully loaded with  Agile rich features like Scrum, Burn down charts &amp; Planning poker etc.</p><p>Lets Get Started</p>
                    <form style='display:inline' action='/login' method='get'>
                        <button type='submit' class='btn btn-lg btn-success'>Login</button>
                    </form>
                    <form style='display:inline' action='/signup' method='get'>
                        <button type='submit' class='btn btn-lg btn-primary'>Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
        <div class='container'>
            <div class='row text-center'>                
                <div class='col-md-3'>
                    <i class='glyphicon glyphicon-list-alt'></i>
                    <h4>Plan</h4>
                    <p>Create a backlog of stories or epics and prioritize thoem.</p>
                </div>
                <div class='col-md-3'>
                    <i class='glyphicon glyphicon-random'></i>
                    <h4>Track</h4>
                    <p>Prioritize and discuss your scrum team's work in full context with complete visibility.</p>
                </div>
                <div class='col-md-3'>
                    <i class='glyphicon glyphicon-calendar'></i>
                    <h4>Release</h4>
                    <p>Ship with confidence knowing that the information you have is always current.</p>
                </div>
                <div class='col-md-3'>
                    <i class='glyphicon glyphicon-stats'></i>
                    <h4>Report</h4>
                    <p>Improve team performance based on real-time, visual data.</p>
                </div>
            </div>
        </div>
        <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>
    </body>
</html>